[submodule "html-assets"]
	path = html-assets
	url = https://github.com/flexera/sca-codeinsight-branding.git
[submodule "CodeInsight_RESTAPIs"]
	path = CodeInsight_RESTAPIs
	url = https://github.com/flexera/sca-codeinsight-restapi-python.git
