[submodule "CodeInsight_RESTAPIs"]
	path = CodeInsight_RESTAPIs
	url = https://github.com/flexera/sca-codeinsight-restapi-python.git
[submodule "report_branding"]
	path = report_branding
	url = https://github.com/flexera/sca-codeinsight-branding.git
